@font-face {
    font-family: "Montserrat";
	font-display: swap;
    src: local("O"), url("../fonts/MontserratBold.woff") format("woff"),
		url("../fonts/MontserratBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: "Montserrat";
	font-display: swap;
    src: local("O"), url("../fonts/MontserratSemiBold.woff") format("woff"),
		url("../fonts/MontserratSemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: "Montserrat";
	font-display: swap;
    src: local("O"), url("../fonts/MontserratRegular.woff") format("woff"),
		url("../fonts/MontserratRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}