/************************************************************
				  NULL STYLE
************************************************************/
@import "_nullstyle";

/************************************************************
                	FONTS
************************************************************/
@import "fonts";
/************************************************************
                	MIXIN
************************************************************/
@import "_mix-adaptiv-font";

/************************************************************
                	VARIABLES
************************************************************/
$maxWidth: 1170;

/*---Пример использования миксинов-----------------
---1---Миксин адаптива шрифта (размер по макету, размер по 320px)
@include adaptive-font(40,24);
-----------------------------------------------------

//Чтобы заработал ibg
	height: 100%;
	display: block;
	position: relative;

/************************************************************
               		 MAIN CODE
************************************************************/

//------Общие параметры---------------------------------------------
body {
	font-family: "Montserrat", "PT Serif", "sans-serif";
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}
//--------------------------------------------------

.page {
	display: flex;
	flex-direction: column;

}
//-----------Технический класс для изображений бэкграунда--------
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	img {
		display: none;
	}
}
//---------------------------------------------------------------

._container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
	@media (max-width:1182px) {
		max-width: 970px;
	}
	@media (max-width:992px) {
		max-width: 750px;
	}
}
/************************************************************
               		 HEADER
************************************************************/
.header {

	padding: 35px 0;
	position: relative;
	z-index: 50;

	@media (max-width:992px) {
		padding: 35px 0;
	}

	@media (max-width: 767px) {
		padding: 10px 0;
	}

	&__row {
		display: flex;
		align-items: center;
		
	}

	&__logo {
		flex: 0 1 33.333%;
		position: relative;
		z-index: 6;
			img, svg {
				width: 235px;
			}
		@media (max-width:1182px) {
			flex: 0 1 23%;
			img, svg {
				width: 200px;
			}
		}
		@media (max-width:992px) {
			flex: 0 1 21%;
			img, svg {
				width: 140px;
			}
		}
	}

	&__menu {
		flex: 1 1 66.667%;
	}
}

.menu {

	&__icon {
	}

	&__body {
		@media (max-width: 767px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: -110%;
			left: 0;
			background-color: #fff;
			z-index: 2;
			padding: 50px 10px 20px 10px;
			overflow: auto;
			transition: all 0.5s ease 0s;
			//Для того чтобы бургер работал при классе active
			&.active {
				top: 0;
			}
		}
	}
 
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 767px) {
			display: block; 
		}   
	}
 
	li {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	&__link {
		color: #646667;
		font-size: 12px;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.5s ease 0s;
		position: relative;
		line-height: 28px;
		font-family: "Montserrat","PT Serif",sans-serif;
		//, "PT Serif", 
		@media (max-width:992px) {
			font-size: 11px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 40px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 1px;
			background-color: #007397;
			bottom: 0;
			transition: all 0.5s ease 0s;
		}

		&:hover {
			color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
	&__link-active {
		color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
	}
}


/************************************************************
               		 STATUS-BLOCK
************************************************************/
.status {

	background: rgb(216, 216, 216);

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 20px 0px 23px 0px;
		@media (max-width: 714px){
			padding: 10px 0px 10px 0px;
			flex-direction: column;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		@media (max-width: 714px) {
		display: flex;
    	flex-direction: column;
    	justify-self: center;
    	justify-content: center;
    	align-items: center;
		}
		
	}

	&__row-status, &__row-diag {
		display: flex;
		justify-content: space-between;
		@media (max-width: 714px){
			justify-content: center;
		}
		&_sost, &-text {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			font-family: "Montserrat","PT Serif",sans-serif;
			font-size: 14px;
			font-weight: 600;
			line-height: 15px;
			letter-spacing: 0px;
			text-align: left;
			@media (max-width: 420px) {
				font-size: 10px;
			}
			&-btn, &-norm {  
				width: 120px;
				height: 27px;
				border-radius: 30px;
				box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
				background: rgb(0, 115, 151);
				color: rgb(255, 255, 255);
				margin: 0px 17px;
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 15px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 6px 18px 6px 18px;
				@media (max-width: 420px) {
					font-size: 10px;
					width: 80px;
					padding: 3px 9px 3px 9px;
					margin: 7px;
				}
			}
		}

	}

	&__row-diag {
		padding-top: 10px;
	}
	
	&__row-time {
		display: flex;
		flex-direction: column;
	}

	&__column-time {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 67px;
		@media (max-width: 714px) {
			align-items: center;
			}
		

		&-row {
			display: flex;
			justify-content: space-between;
			padding-top: 6px;
			@media (max-width: 714px){
				justify-content: space-around;
				min-width: 250px;
				padding-top: 10px;
			}
			
			&-TextData, &-TextTime {
				color: rgb(0, 0, 0);
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 600;
				line-height: 15px;
				letter-spacing: 0px;
				text-align: left;
				@media (max-width: 420px) {
					font-size: 10px;
				}

			}
			&-DataData, &-DataTime {
				color: rgb(0, 115, 151);
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 600;
				line-height: 15px;
				letter-spacing: 0px;
				text-align: left;
				@media (max-width: 420px) {
					font-size: 10px;
				}

			}
			 
		}

		&-btn {
			border-radius: 30px;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			background: rgb(0, 115, 151);
			@media (max-width:714px) {
				min-width: 300px;
    			margin-top: 10px;
				@media (max-width: 420px) {
					min-width: 250px;
				}
			}
			&-btn {
				color: rgb(255, 255, 255);
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 15px;
				letter-spacing: 0px;
				text-align: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 6px 18px 6px 18px;
				@media (max-width: 420px) {
					font-size: 10px;
				}
				transition: 0.2s;
				&:hover {
					color: rgb(0, 115, 151);
					background-color: #ffffff;
					font-weight: 400;
					transition: 0.2s linear;
					border-radius: 30px;
					box-shadow: 0px 4px 4px 0px rgb(0, 115, 151);
					
				}
			}
		}
	}

}



/************************************************************
               		 MAIN-BLOCK
************************************************************/
.mainblock {

	&__status {
		margin-bottom: 100px;
		@media (max-width:992px) {
			margin-bottom: 80px;
		}
		@media (max-width: 767px) {
			margin-bottom: 50px;
		}
		
	}
	

}

//Бургер меню заготовка------------------------------------------
.icon-menu {
	@media (max-width: 767px) {
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		position: absolute;
		right: 20px;
		top: 10px;
		span {
			transition: all 0.3s ease 0s;
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%; 
			height: 2px; 
			background-color: #4d4959;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.active {
			span {
				transform: scale(0);
				background-color: #4d4959;
				&:first-child {
					transform: rotate(-45deg);
					top: 8px;
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}
}
//-----------------------------------------------------------------
/****************************************************************************
							GRAPHIK BLOCK
******************************************************************************/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 250px;
    max-width: 1170px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/*******************************************************************************
							STATUS DATA BLOCK
*******************************************************************************/

.statusData {
	margin-top: -60px;
	margin-bottom: 20px;
	background: rgb(216, 216, 216);
	//background-color: rgb(248,248,248);
	padding: 20px;
	@media (max-width: 790px) {
		padding: 20px 20px 20px 20px;
	}
	@media (max-width: 767px) {
		padding: 20px 20px 20px 20px;
		margin-top: -50px;
	}
	@media (max-width: 460px) {
		display: flex;
		align-items: center;
		
	}

	&__column {
		display: flex;
		justify-content: space-between;
		@media (max-width: 715px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		}
		@media (max-width: 460px) {
		flex-direction: column;
		min-width: 300px;
		}
		@media (max-width: 420px) {
			min-width: 190px;
			
		}
		
		
	}

	&-text {
		color: rgb(0, 0, 0);
		font-family: "Montserrat","PT Serif",sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 15px;
		letter-spacing: 0px;
		text-align: left;

			@media (max-width: 420px) {
			font-size: 10px;
			}
	}

	&-numb {
	color: rgb(0, 115, 151);
	font-family: "Montserrat","PT Serif",sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: left;
	@media (max-width: 420px) {
		font-size: 10px;
	}
	}

	&__curents {
		min-height: 100px;
		min-width: 155px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 790px) {
			min-width: 160px;
			min-height: 70px;
			padding: 0px 10px 20px 0px;
		}
		@media (max-width: 460px) {
			padding: 0px;
			}
			@media (max-width: 420px) {
				min-width: 150px;
				}
		&-a {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {

			}
			&-data {
			}
		}
		&-b {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {

			}
			&-data {

			}
		}
		&-c {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {

			}
			&-data {

			}
		}
	}

	&__inputs {
		min-height: 100px;
		min-width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 790px) {
			min-width: 205px;
			padding: 0px 10px 20px 10px;
			
		}
		@media (max-width: 420px) {
			min-width: 150px;
			padding: 0px 10px 20px 10px;
			
		}
		@media (max-width: 460px) {
			padding: 0px;
			margin-top: 12px;
			min-height: 70px;
			}
		&-switchON {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
		&-switchOFF {

			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-text {
			}
			&-data {
			}
		}
		&-block {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
	}


	&__voltage {
		min-height: 100px;
		min-width: 280px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: 790px) {
			min-height: 80px;
			height: 80px;
			min-width: 270px;
			padding: 0px 0px 0px 10px;
			
			
		}
		@media (max-width: 460px) {
			min-height: 70px;
			padding: 0px;
			height: 70px;
			margin-top: 12px;
			}
		@media (max-width: 420px) {
				min-width: 150px;
				}
		&-input {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
		&-kl {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
		&-temp {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
	}
} 

.settings {

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		&-btn {
				width: 120px;
				height: 27px;
				border-radius: 30px;
				box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
				background: rgb(0, 115, 151);
				color: rgb(255, 255, 255);
				margin: 0px 17px;
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 15px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 10px 20px 10px 20px;
				transition: 0.2s;
				&:hover {
					color: rgb(0, 115, 151);
					background-color: #ffffff;
					font-weight: 600;
					transition: 0.2s linear;
					
				}
				
				
		}
	}
}





/*******************************************************************************
							FOOTER
*******************************************************************************/

.footer {

	margin: 20px 0px 40px 0px;

	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 550px) {
			flex-direction: column;
			margin: 0 auto;
			
		}
	}

	&__copy {
		color: #646667;
		font-family: "Montserrat","PT Serif",sans-serif;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: 550px) {
			text-align: center;
			font-size: 10px;
		}
	}

	&__sections {
		color: #646667;
		font-family: "Montserrat","PT Serif",sans-serif;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: 550px) {
			text-align: center;
			padding-top: 5px;
			font-size: 10px;
		}
	}

}

