/************************************************************
				  NULL STYLE
************************************************************/
@import "_nullstyle";

/************************************************************
                	FONTS
************************************************************/

/************************************************************
                	MIXIN
************************************************************/
@import "_mix-adaptiv-font";

/************************************************************
                	VARIABLES
************************************************************/
$maxWidth: 1170;

/*---Пример использования миксинов-----------------
---1---Миксин адаптива шрифта (размер по макету, размер по 320px)
@include adaptive-font(40,24);
-----------------------------------------------------

//Чтобы заработал ibg
	height: 100%;
	display: block;
	position: relative;

/************************************************************
               		 MAIN CODE
************************************************************/

//------Общие параметры---------------------------------------------
body {
	font-family: "Montserrat", "PT Serif", sans-serif;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}
//--------------------------------------------------

.page {
	display: flex;
	flex-direction: column;

}
//-----------Технический класс для изображений бэкграунда--------
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	img {
		display: none;
	}
}
//---------------------------------------------------------------

._container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
	@media (max-width:1182px) {
		max-width: 970px;
	}
	@media (max-width:992px) {
		max-width: 750px;
	}
}
/************************************************************
               		 HEADER
************************************************************/
.header {

	padding: 35px 0;
	position: relative;
	z-index: 50;

	@media (max-width:992px) {
		padding: 35px 0;
	}

	@media (max-width: 767px) {
		padding: 10px 0;
	}

	&__row {
		display: flex;
		align-items: center;
		
	}

	&__logo {
		flex: 0 1 33.333%;
		position: relative;
		z-index: 6;
			img, svg {
				width: 235px;
			}
		@media (max-width:1182px) {
			flex: 0 1 23%;
			img, svg {
				width: 200px;
			}
		}
		@media (max-width:992px) {
			flex: 0 1 21%;
			img, svg {
				width: 140px;
			}
		}
	}

	&__menu {
		flex: 1 1 66.667%;
	}
}

.menu {

	&__icon {
	}

	&__body {
		@media (max-width: 767px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: -110%;
			left: 0;
			background-color: #fff;
			z-index: 2;
			padding: 50px 10px 20px 10px;
			overflow: auto;
			transition: all 0.5s ease 0s;
			//Для того чтобы бургер работал при классе active
			&.active {
				top: 0;
			}
		}
	}
 
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 767px) {
			display: block; 
		}   
	}
 
	li {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	&__link {
		color: #646667;
		font-size: 12px;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.5s ease 0s;
		position: relative;
		line-height: 28px;
		@media (max-width:992px) {
			font-size: 11px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 40px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 1px;
			background-color: #007397;
			bottom: 0;
			transition: all 0.5s ease 0s;
		}

		&:hover {
			color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
	&__link-active {
		color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
	}
}


/************************************************************
               		 STATUS-BLOCK
************************************************************/
.status {

	background: rgb(248, 248, 248);

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 20px 0px 23px 0px;
	}

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__row-status, &__row-diag {
		display: flex;
		justify-content: space-between;
		&_sost, &-text {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			font-family: "Montserrat","PT Serif",sans-serif;
			font-size: 14px;
			font-weight: 600;
			line-height: 15px;
			letter-spacing: 0px;
			text-align: left;
			&-btn, &-norm {
				width: 120px;
				height: 27px;
				border-radius: 30px;
				box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
				background: rgb(0, 115, 151);
				color: rgb(255, 255, 255);
				margin: 0px 17px;
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 15px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 6px 18px 6px 18px;
			}
		}

	}

	&__row-diag {
		padding-top: 13px;
	}
	
	&__row-time {
		display: flex;
		flex-direction: column;
	}

	&__column-time {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 67px;

		&-row {
			display: flex;
			justify-content: space-between;
			padding-top: 6px;
			
			&-TextData, &-TextTime {
				color: rgb(0, 0, 0);
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 600;
				line-height: 15px;
				letter-spacing: 0px;
				text-align: left;

			}
			&-DataData, &-DataTime {
				color: rgb(0, 115, 151);
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 600;
				line-height: 15px;
				letter-spacing: 0px;
				text-align: left;

			}
			 
		}

		&-btn {
			border-radius: 30px;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			background: rgb(0, 115, 151);
			&-btn {
				color: rgb(255, 255, 255);
				font-family: "Montserrat","PT Serif",sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 15px;
				letter-spacing: 0px;
				text-align: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 6px 18px 6px 18px;
			}
		}
	}

}



/************************************************************
               		 MAIN-BLOCK
************************************************************/
.mainblock {

	&__status {
		margin-bottom: 100px;
		@media (max-width:992px) {
			margin-bottom: 80px;
		}
		@media (max-width: 767px) {
			margin-bottom: 50px;
		}
		
	}
	

}

//Бургер меню заготовка------------------------------------------
.icon-menu {
	@media (max-width: 767px) {
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		position: absolute;
		right: 20px;
		top: 10px;
		span {
			transition: all 0.3s ease 0s;
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%; 
			height: 2px; 
			background-color: #4d4959;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.active {
			span {
				transform: scale(0);
				background-color: #4d4959;
				&:first-child {
					transform: rotate(-45deg);
					top: 8px;
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}
}
//-----------------------------------------------------------------
/****************************************************************************
							GRAPHIK BLOCK
******************************************************************************/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 1170px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/*******************************************************************************
							STATUS DATA BLOCK
*******************************************************************************/

.statusData {
	
	&-text {
	}
	&-numb {
	}

	// .statusData__curents

	&__curents {
	}

	// .statusData__curents-a

	&__curents-a {
	}

	// .statusData__curents-a-text

	&__curents-a-text {
	}

	// .statusData__curents-a-data

	&__curents-a-data {
	}

	// .statusData__curents-b

	&__curents-b {
	}

	// .statusData__curents-b-text

	&__curents-b-text {
	}

	// .statusData__curents-b-data

	&__curents-b-data {
	}

	// .statusData__curents-c

	&__curents-c {
	}

	// .statusData__curents-c-text

	&__curents-c-text {
	}

	// .statusData__curents-c-data

	&__curents-c-data {
	}

	// .statusData__inputs

	&__inputs {
	}

	// .statusData__inputs-switchON

	&__inputs-switchON {
	}

	// .statusData__inputs-switchON-text

	&__inputs-switchON-text {
	}

	// .statusData__inputs-switchON-data

	&__inputs-switchON-data {
	}

	// .statusData__inputs-switchOFF

	&__inputs-switchOFF {
	}

	// .statusData__inputs-switchOFF-text

	&__inputs-switchOFF-text {
	}

	// .statusData__inputs-switchOFF-data

	&__inputs-switchOFF-data {
	}

	// .statusData__inputs-block

	&__inputs-block {
	}

	// .statusData__inputs-block-text

	&__inputs-block-text {
	}

	// .statusData__inputs-block-data

	&__inputs-block-data {
	}

	// .statusData__voltage

	&__voltage {
	}

	// .statusData__voltage-input

	&__voltage-input {
	}

	// .statusData__voltage-input-text

	&__voltage-input-text {
	}

	// .statusData__voltage-input-data

	&__voltage-input-data {
	}

	// .statusData__voltage-kl

	&__voltage-kl {
	}

	// .statusData__voltage-kl-text

	&__voltage-kl-text {
	}

	// .statusData__voltage-kl-data

	&__voltage-kl-data {
	}

	// .statusData__voltage-temp

	&__voltage-temp {
	}

	// .statusData__voltage-temp-text

	&__voltage-temp-text {
	}

	// .statusData__voltage-temp-data

	&__voltage-temp-data {
	}
}






/*******************************************************************************
							FOOTER
*******************************************************************************/

.footer {

	margin: 0px 0px 40px 0px;

	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 550px) {
			flex-direction: column;
			margin: 0 auto;
		}
	}

	&__copy {
		color: #646667;
		font-family: "Montserrat";
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 40px;
		text-align: left;
		text-transform: uppercase;
		@media (max-width: 550px) {
			text-align: center;
		}
	}

	&__sections {
	}

	&__link {
		color: #646667;
		font-family: "Montserrat";
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 40px;
		text-align: right;
		text-transform: uppercase;
		margin: 0 17px;
		position: relative;
		display: inline-block;
		@media (max-width: 550px) {
			display: block;
			text-align: center;
			margin: 0 auto;
			max-width: 180px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 1px;
			background-color: #007397;
			bottom: 0;
			transition: all 0.5s ease 0s;
		}
		
		&:hover {
			color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
}

