/************************************************************
				  NULL STYLE
************************************************************/
@import "_nullstyle";

/************************************************************
                	FONTS
************************************************************/
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/************************************************************
                	MIXIN
************************************************************/
@import "_mix-adaptiv-font";

/************************************************************
                	VARIABLES
************************************************************/
$maxWidth: 1170;

/*---Пример использования миксинов-----------------
---1---Миксин адаптива шрифта (размер по макету, размер по 320px)
@include adaptive-font(40,24);
-----------------------------------------------------

//Чтобы заработал ibg
	height: 100%;
	display: block;
	position: relative;

/************************************************************
               		 MAIN CODE
************************************************************/

//------Общие параметры---------------------------------------------
body {
	font-family: 'Roboto', sans-serif, 'PT Serif';
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
	background-color: #ffffff;
}

.wrapper {
	overflow: hidden;
	&-settings {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
	}
	
}
//--------------------------------------------------

.page {
	//display: flex;
	//flex-direction: column;
	
	&-settings {
		//display: flex;
		//flex-direction: column;
		//min-height: 100%;
	}
}
//-----------Технический класс для изображений бэкграунда--------
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	img {
		display: none;
	}
}
//---------------------------------------------------------------

._container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
	@media (max-width:1182px) {
		max-width: 970px;
	}
	@media (max-width:992px) {
		max-width: 750px;
	}
}
/************************************************************
               		 HEADER
************************************************************/
.header {

	padding: 35px 0;
	position: relative;
	z-index: 50;

	@media (max-width:992px) {
		padding: 35px 0;
	}

	@media (max-width: 767px) {
		padding: 10px 0;
	}

	&__row {
		display: flex;
		align-items: center;
		
	}

	&__logo {
		flex: 0 1 33.333%;
		position: relative;
		z-index: 6;
			img, svg {
				width: 235px;
			}
		@media (max-width:1182px) {
			flex: 0 1 23%;
			img, svg {
				width: 200px;
			}
		}
		@media (max-width:992px) {
			flex: 0 1 21%;
			img, svg {
				width: 140px;
			}
		}
	}

	&__menu {
		flex: 1 1 66.667%;
	}
}

.menu {

	&__icon {
	}

	&__body {
		@media (max-width: 767px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: -110%;
			left: 0;
			background-color: #fff;
			z-index: 2;
			padding: 50px 10px 20px 10px;
			overflow: auto;
			transition: all 0.5s ease 0s;
			//Для того чтобы бургер работал при классе active
			&.active {
				top: 0;
			}
		}
	}
 
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 767px) {
			display: block; 
		}   
	}
 
	li {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	&__link {
		color: #646667;
		font-size: 12px;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.5s ease 0s;
		position: relative;
		line-height: 28px;
		font-family: "Montserrat","PT Serif",sans-serif;
		font-weight: 700;
		//, "PT Serif", 
		@media (max-width:992px) {
			font-size: 11px;
			letter-spacing: 0px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 40px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 1px;
			background-color: #007397;
			bottom: 0;
			transition: all 0.5s ease 0s;
		}

		&:hover {
			color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
	&__link-active {
		color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
	}
}


/************************************************************
               		 STATUS-BLOCK
************************************************************/
.status {

	background: rgb(216, 216, 216);

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 20px 0px 23px 0px;
		@media (max-width: 730px){
			padding: 10px 0px 10px 0px;
			flex-direction: column;
		}
	}

	&__column {
		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
		@media (max-width: 730px) {
		display: flex;
    	flex-direction: column;
    	justify-self: center;
    	justify-content: center;
    	align-items: center;
		}
		
	}

	&__row-status, &__row-diag {
		display: flex;
		justify-content: space-between;
		@media (max-width: 730px){
			justify-content: center;
		}
		&_sost, &-text {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			letter-spacing: 0px;
			text-align: left;
			@media (max-width: 420px) {
				font-size: 10px;
			}
			&-btn, &-norm {  
				width: 120px;
				height: 27px;
				border-radius: 30px;
				box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
				background: rgb(0, 115, 151);
				color: rgb(255, 255, 255);
				margin: 0px 17px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 6px 18px 6px 18px;
				@media (max-width: 420px) {
					font-size: 10px;
					width: 80px;
					padding: 3px 9px 3px 9px;
					margin: 0px 7px;
				}
			}
		}

	}

	&__row-diag {
		padding-top: 10px;
	}
	
	&__row-time {
		display: flex;
		flex-direction: column;
	}

	&__column-time {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 67px;
		@media (max-width: 730px) {
			align-items: center;
			}
		

		&-row {
			display: flex;
			justify-content: space-between;
			padding-top: 6px;
			@media (max-width: 730px){
				justify-content: space-between;
				width: 250px;
				padding-top: 10px;
			}
			@media (max-width: 420px) {
				width: 200px;
			}
			
			&-TextData, &-TextTime {
				color: rgb(0, 0, 0);
				letter-spacing: 0px;
				text-align: left;
				@media (max-width: 420px) {
					font-size: 10px;
				}

			}
			&-DataData, &-DataTime {
				color: rgb(0, 115, 151);
				letter-spacing: 0px;
				text-align: left;
				@media (max-width: 420px) {
					font-size: 10px;
				}

			}
			 
		}

		&-btn {
			border-radius: 30px;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			background: rgb(0, 115, 151);
			@media (max-width:730px) {
				min-width: 300px;
    			margin-top: 10px;
				@media (max-width: 420px) {
					min-width: 250px;
				}
			}
			&-btn {
				color: rgb(255, 255, 255);
				letter-spacing: 0px;
				text-align: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 6px 18px 6px 18px;
				@media (max-width: 420px) {
					font-size: 10px;
				}
				transition: 0.2s;
				&:hover {
					color: rgb(0, 115, 151);
					background-color: #ffffff;
					font-weight: 500;
					letter-spacing: 0px;
					transition: 0.2s linear;
					border-radius: 30px;
					box-shadow: 0px 4px 4px 0px rgb(0, 115, 151);
					
				}
			}
		}
	}

}
.button {
    //margin: 20px;
    float: left;
    position: relative;
    //font-family: arial;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
	left: 16px;
	top: 2px;
	@media (max-width: 420px) {
		font-size: 10px;
	}


    .label{
      padding: 10px;
      display: inline-block;
    }
	&.v8{

		&:hover{
		  .icon{
			transform: scale(1.1) skew(-40deg, 0deg);
  
			&:before, &:after{
			  width: 100%;
			}
  
			span {
			  &:before, &:after {
				height: 100%;
			  }
			}
		  }
		}
  
		.label{
		  padding: 10px 20px;
		  margin-right: 40px;
		  @media (max-width: 420px) {
			padding: 5px 12px;
		}
		}
  
		.icon{
		  display: block;
		  position: absolute;
		  top: 0;
		  left: 5px;
		  width: 85%;
		  height: 100%;
		  transform: skew(-40deg, 0deg);
		  transition: all 0.5s;
		  @media (max-width: 420px) {
			width: 81%;
		}
  
		  &:before, &:after{
			content: '';
			height: 1px;
			width: 20px;
			position: absolute;
			display: block;
			background: #007397;
			transition: width 0.5s;
		  }
		  &:before{
			left: 0;
			top: 0;
		  }
		  &:after{
			right: 0;
			bottom: 0;
		  }
		  span{
  
			&:before, &:after{
			  content: '';
			  background: #007397;
			  position: absolute;
			  display: block;
			  width: 2px;
			  height: 20px;
			  transition: height 0.5s;
			}
			&:before{
			  left: 0;
			  top: 0;
			}
			&:after{
			  right: 0;
			  bottom: 0;
			}
		  }
		}
	}
}

/************************************************************
               		 MAIN-BLOCK
************************************************************/
.mainblock {

	&__status {
		margin-bottom: 100px;
		@media (max-width:992px) {
			margin-bottom: 80px;
		}
		@media (max-width: 767px) {
			margin-bottom: 50px;
		}
		
	}
	

}

//Бургер меню заготовка------------------------------------------
.icon-menu {
	@media (max-width: 767px) {
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		position: absolute;
		right: 20px;
		top: 10px;
		span {
			transition: all 0.3s ease 0s;
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%; 
			height: 2px; 
			background-color: #4d4959;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.active {
			span {
				transform: scale(0);
				background-color: #4d4959;
				&:first-child {
					transform: rotate(-45deg);
					top: 8px;
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}
}
//-----------------------------------------------------------------
/****************************************************************************
							GRAPHIK BLOCK
******************************************************************************/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 250px;
    max-width: 1170px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/*******************************************************************************
							STATUS DATA BLOCK
*******************************************************************************/

.statusData {
	margin-top: -60px;
	margin-bottom: 20px;
	background: rgb(216, 216, 216);
	//background-color: rgb(248,248,248);
	padding: 20px;
	@media (max-width: 790px) {
		padding: 20px 20px 20px 20px;
	}
	@media (max-width: 767px) {
		padding: 20px 20px 20px 20px;
		margin-top: -50px;
	}
	@media (max-width: 460px) {
		display: flex;
		align-items: center;
		
	}

	&__column {
		display: flex;
		justify-content: space-between;
		@media (max-width: 715px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		}
		@media (max-width: 460px) {
		flex-direction: column;
		min-width: 300px;
		}
		@media (max-width: 420px) {
			min-width: 190px;
			
		}
		
		
	}

	&-text {
		color: rgb(0, 0, 0);
		letter-spacing: 0px;
		text-align: left;

			@media (max-width: 420px) {
			font-size: 10px;
			}
	}

	&-numb {
	color: rgb(0, 115, 151);
	letter-spacing: 0px;
	text-align: left;
	@media (max-width: 420px) {
		font-size: 10px;
	}
	}

	&__curents {
		min-height: 100px;
		min-width: 155px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 790px) {
			min-width: 160px;
			min-height: 70px;
			padding: 0px 10px 20px 0px;
		}
		@media (max-width: 460px) {
			padding: 0px;
			}
			@media (max-width: 420px) {
				min-width: 150px;
				}
		&-a {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {

			}
			&-data {
			}
		}
		&-b {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {

			}
			&-data {

			}
		}
		&-c {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {

			}
			&-data {

			}
		}
	}

	&__inputs {
		min-height: 100px;
		min-width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 790px) {
			min-width: 205px;
			padding: 0px 10px 20px 10px;
			
		}
		@media (max-width: 420px) {
			min-width: 150px;
			padding: 0px 10px 20px 10px;
			
		}
		@media (max-width: 460px) {
			padding: 0px;
			margin-top: 12px;
			min-height: 70px;
			}
		&-switchON {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
		&-switchOFF {

			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-text {
			}
			&-data {
			}
		}
		&-block {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
	}


	&__voltage {
		min-height: 100px;
		min-width: 280px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: 790px) {
			min-height: 80px;
			height: 80px;
			min-width: 270px;
			padding: 0px 0px 0px 10px;
			
			
		}
		@media (max-width: 460px) {
			min-height: 70px;
			padding: 0px;
			height: 70px;
			margin-top: 12px;
			}
		@media (max-width: 420px) {
				min-width: 150px;
				}
		&-input {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
		&-kl {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
		&-temp {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-text {
			}
			&-data {
			}
		}
	}
} 

.settings {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	
	
	
	&__btn-settings {
   	 	position: relative;
		align-items: center;
		//left:37%;
    	//font-family: arial;
    	text-transform: uppercase;
    	color: #000000;
    	cursor: pointer;
		@media (max-width: 420px) {
			font-size: 10px;
		}
		//left: 16px;
		//top: 2px;
		/**
		&-btn {
				width: 120px;
				height: 27px;
				border-radius: 30px;
				box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
				background: rgb(0, 115, 151);
				color: rgb(255, 255, 255);
				margin: 0px 17px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 10px 20px 10px 20px;
				transition: 0.2s;
				&:hover {
					color: rgb(0, 115, 151);
					background-color: #ffffff;
					transition: 0.2s linear;
					
				}
				
				
		}**/
	}
}

.label-settings {
	color: #000000;
	font-family: 'Roboto', sans-serif, 'PT Serif';
	margin-right: 10px;
	padding: 10px 20px;
	display: inline-block;
	font-weight: 600;
}




/*******************************************************************************
							FOOTER
*******************************************************************************/

.footer {

	margin: 20px 0px 40px 0px;

	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 550px) {
			flex-direction: column;
			margin: 0 auto;
			
		}
	}

	&__copy {
		color: #646667;
		font-family: "Montserrat","PT Serif",sans-serif;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: 550px) {
			text-align: center;
			font-size: 10px;
		}
	}

	&__sections {
		color: #646667;
		font-family: "Montserrat","PT Serif",sans-serif;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: 550px) {
			text-align: center;
			padding-top: 5px;
			font-size: 10px;
		}
	}

}

/*******************************************************************************
							INDEX-SETTINGS PAGE!!!!!!!!!!
*******************************************************************************/
h1 {
	text-align: center;
	font-size: 16px;
	padding-bottom: 15px;
	@media (max-width: 767px) {
		padding-bottom: 30px;
	}
	@media (max-width: 450px) {
		padding-top: 20px;
	}
	@media (max-width: 360px) {
		font-size: 14px;
	}
}



fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border: 2px solid #007397;
    border-radius: 5px;
	margin-bottom: 20px;
	width: 750px;
	@media (max-width: 767px) {
		width: 550px;
	}
	@media (max-width: 600px) {
		width: 350px;
	}
	@media (max-width: 360px) {
		font-size: 10px;
		width: 280px;
	}
}

legend {
	align-items: center;
	text-align: left;
	font-weight: 400;
	text-transform: uppercase;
	//padding-bottom: 15px;
	padding: 0 10px;
	margin-left: 20px;
}

.settings-blocks {
	display: flex;
	@media (max-width: 1030px) {
	flex-direction: column;
	}
}

input {
	border: 1px solid #000000;
    //border-radius: 10px;
	width: 75px;
	margin: 20px;
	height: 25px;
	padding: 5px;
	@media (max-width: 767px) {
		margin: 20px 20px 20px 20px;
	}
	@media (max-width: 360px) {
		margin: 10px 10px 10px 10px;
	}
	&::placeholder {
		font-size: 10px;
		text-align: center;
		vertical-align: middle;
		font-family: 'Roboto', sans-serif, 'PT Serif';
	}
}

.inom-block, .tzash-block, .izash-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 330px;
	@media (max-width: 360px) {
		width: 270px;
	}
}
//Убираю дефолтные стрелки в полях ввода number
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
	-moz-appearance: textfield;
}

.button-submit {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	
}

.set-sub-btn {
	text-transform: uppercase;
    color: #000000;
    font-family: "Roboto", sans-serif, "PT Serif";
    
    
    display: inline-block;
    font-weight: 600;
	background-color: #ffffff;

	@media (max-width: 360px) {
		font-size: 10px;
	}


}

.label-set-btn {
	padding: 10px 20px;
	margin-right: 10px;
	@media (max-width: 450px) {
		margin-right: 20px;
	}
	@media (max-width: 360px) {
		margin-right: 12px;
	}

}

/*******************************************************************************
							EVENTLOG PAGE
*******************************************************************************/

.eventlog {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;

	&-filter {
		@media (max-width: 767px) {
			margin-top: 20px;
		}
	}

	&-title {
		padding-bottom: 0px;
	}
}

.filter-blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 700px;
}

.dstart-input, .dend-input {
	width: auto;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif, 'PT Serif';
}

.eventlog-button-submit {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	
}

//-------------TABLE SETTINGS----------------------------------------
.table_blur {
	background: #f5ffff;
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	display: flex;
	justify-content: center;
  }
  .table_blur th {
	border-top: 1px solid #777777;	
	border-bottom: 1px solid #777777; 
	box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
	background: linear-gradient(#9595b6, #5a567f);
	color: white;
	padding: 10px 15px;
	position: relative;
	//width: 40%;
  }

  .data-column, .time-column {
	width: 20%;
  }

  .event-column {
	width: 60%;
  }

  .table_blur th:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 25%;
	height: 25%;
	width: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
  }
  .table_blur tr:nth-child(odd) {
	background: #ebf3f9;
  }
  .table_blur th:first-child {
	border-left: 1px solid #777777;	
	border-bottom:  1px solid #777777;
	box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
  }
  .table_blur th:last-child {
	border-right: 1px solid #777777;
	border-bottom:  1px solid #777777;
	box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
  }
  .table_blur td {
	border: 1px solid #e3eef7;
	padding: 10px 15px;
	position: relative;
	transition: all 0.5s ease;
  }
  .table_blur tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #a09f9d;
  }
  .table_blur tbody:hover tr:hover td {
	color: #444444;
	text-shadow: none;
  }
/*******************************************************************************
							FOOTER
*******************************************************************************/